.collapsible {
  background-color: #CFCFCF;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
}
.content {
  padding: 0 18px;
  background-color: #CFCFCF;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* + */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  border:none;
  outline: none;
}
.collapsible:focus{
  border: none;
  outline: none;
}
.activeArticle:after {
  content: "\2796"; /* - */
}
.img-thumbnail{
  background-color: #CFCFCF;
}
