{% extends 'muzeum/base.html' %}
{% load static %}
{% block content %}
<style>
.phCard{
  margin-top: 1rem;
}
</style>
{% if request.user.is_staff %}
  <div class="container-fluid" style="min-height: 100vh">
    {% if articles_count %}
      <div class="row">
        <div class="col">
          <div class="phCard card card-body">
            <form enctype="multipart/form-data" action="" method="POST">
              {% csrf_token %}
              {{ formset.title }}
              <hr>
              {{ formset.body }}
              <hr>
              Autor: {{ formset.author}}
              <hr>
              Status: {{ formset.status }}
              <hr>
              {{ formset.picture }}
              <hr>
              <input class="btn btn-success" type="submit" name="Submit">
            </form>
          </div>
        </div>
        <div class="col">
          <div class="phCard card card-body">
           Liczba dodanych artykułów: {{ articles_count }}
            <hr>
          </div>
        </div>
      </div>

  {% else %}
    <h1 class="text-center" style="color: white; margin-top: 1rem;">Pierwszy artykuł należy dodać w panelu administratora</h1>
  {% endif %}
    </div>
  {% else %}
    <p>Error</p>
{% endif %}

<script type="text/javascript" src="{% static 'js/article_form/placeholders.js' %}"></script>
<script src="https://cdn.tiny.cloud/1/s7wet7nsgnwgsevmmwt6hsraemarwkxttrdwwhe6vg2mlyr2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#id_body',
    language: 'pl'
  });
</script>

{% endblock %}