{% extends 'muzeum/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Muzeum Telefonii Komórkowej w Sosnowcu{% endblock %}

{% block style %}
<style>
.BackgroundImg-1{
    background-image: url("{% static 'images/logo1.jpg' %}");
}
</style>
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="BackgroundImg-1">
  <div class="caption">
  <span class="border">Witaj na naszej stronie!</span>
  </div>
</div>
<div style="color: #FFF;background-color:#282E34;text-align:center;padding:50px 80px;">
  <h3 style="text-align:center;">Kilka słów o muzeum</h3>
  <p>Mania zbierania zaczęła się w latach 1994-1999 i trwa do dziś!<br>
Stacjonarne Muzeum zostanie niebawem otwarte dla zwiedzających. Czegoś takiego jeszcze nie było!</p>
    <a href="{% url 'contact' %}" style="border-bottom: 2px white solid; padding-bottom: 3px;color: white">Informacje i kontakt</a>
</div>
<div class="BackgroundImg-1">
  <div class="caption">
  <span class="border">
      <a href="{% url 'gallery' %}" style="border-bottom: 2px black solid; padding-bottom: 3px">Przejdź do galerii</a>
  </span>
  </div>
</div>
{% endblock %}