{% extends 'muzeum/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/gallery.css' %}" rel="stylesheet">

<div class="container-fluid" style="margin-top: 1rem; min-height: 100vh">
<div class="row">
  {% if phones %}
    <div class="card" style="padding: 0; margin: 0 auto 0 auto; width: 99%">
      <button type="button" class="collapsible">Pokaż filtry</button>
      <div class="content">
        <form method="get" name="mark_filter">
          <div class="card">
              <button class="btn btn-secondary" type="submit" name="">Wszystkie marki</button>
          </div>
          {% for mark in marks %}
          <div class="card">
              <button class="btn btn-secondary" type="submit" name="mark_filter" value="{{ mark.mark }}">{{ mark.mark }}</button>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
    {% for phone in phones %}
    <div class="col-auto">
      <div class="card" style="width: 18rem; margin-top: 1rem;margin-bottom: 1rem;background-color: #CFCFCF">
        {% if phone.picture == 'defaultPhonePicture.png'%}
          <img src="{% get_static_prefix %}images/{{ phone.id }}.png" class="img-fluid img-thumbnail">
          {% else %}
          <img src="{{ phone.picture.url }}" class="img-fluid img-thumbnail">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ phone.mark }} {{ phone.model }}</h5>
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h1 class="text-center" style="color: white">Nie dodaliśmy jeszcze telefonów :(</h1>
  {% endif %}
  </div>
{#<button onclick="topFunction()" id="myBtn" title="Do góry"><i class="fa fa-angle-up"></i></button>#}
</div>
{#<script type="text/javascript" src="{% static 'js/topbutton.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/collapsible.js' %}"></script>
{% endblock %}